.fighter-preview___root {
  display: flex;
  flex-direction: column;
  height: 300px;
  flex-basis: 250px;
  border: 5px solid #ca9650;
  background-color: #ffdfa7;
}

.fighter-preview___right {
  align-items: center;
}

.fighter-preview___left {
  align-items: center;
}

.fighter-preview___img {
  height: 250px;
}
.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___statblock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.fighter-preview___statname {
  font-weight: bold;
  font-style: italic;
}

.fighter-preview___statvalue {
  display: inline-block;
  width: 35px;
  margin-left: 10px;
  padding: 4px 0 2px 0;
  text-align: center;
  background-color: #ca9650;
}

.fighter-preview___statname.red {
  color: #af0000;
}

.fighter-preview___statname.blue {
  color: #0000af;
}

.fighter-preview___statname.green {
  color: #00af00;
}
